*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.container {
    width:100%;
    max-width: 500px;
    margin:auto;
}

.inputs{
    padding:0px 0px 0px 40px;
    display: flex;

}

.inputs input[type="text"]{
    padding: 5px;
    font-size:17px;
    margin-right: 5px;
}

.inputs button{
    padding:2px 5px;
    font-size:20px;
    margin-right: 5px;
}

.inputs button:hover{
    cursor: pointer;
}

.incomplete{
    padding-left: 40px;
    margin:3px 0px 5px 0px;
}

